.contact{width:100%;min-height:500px;padding:50px 0;background-color:#ecf0f1;
	text-align:left}
.contact__inner{max-width:1024px;margin:0 auto}
.contact__inner:after{content:'';display:table;clear:both}
.contact__title{font-size:28px;font-weight:400;margin-bottom:10px;
	text-transform:capitalize;text-align:center}
.contact__descr{font-size:14px;font-weight:400;margin-bottom:55px;text-align:center}
.contact__form{display:block;float:left;max-width:465px;margin:0 15px 0 40px}
.contact__form:after{content:'';display:table;clear:both}
.contact__form-input{display:inline-block;width:220px;height:45px;
	margin-bottom:20px;padding-left:12px;border:2px solid #474747;
	font-style:italic;color:#999}
.contact__form-input:first-of-type{margin-right:20px}
.contact__form-tarea{display:block;-webkit-box-sizing:border-box;
	box-sizing:border-box;width:465px;height:155px;margin-bottom:25px;
	padding:20px 0 0 12px;border:2px solid #474747;font-style:italic;
	color:#999;resize:none}
.contact__form-submit{display:block;float:right;width:115px;height:35px;
	text-align:center;background-color:#d25019;font-size:15px;color:#fff;
	text-transform:uppercase;-webkit-transition:all .5s;-o-transition:all .5s;
	transition:all .5s}
.contact__form-submit:hover{background-color:#474747}
.contact__card{display:inline-block;width:230px;height:150px}
.contact__card-title{margin-bottom:20px;font-size:14px;line-height:.5;
	text-transform:uppercase}
.contact__card-item{position:relative;font-size:14px;line-height:24px}
.contact__card-item:before{display:block;position:absolute;top:0;left:0;
	font-family:FontAwesome}
.contact__card-item.place{padding-left:15px;margin-bottom:15px}
.contact__card-item.place:before{content:"\f041"}
.contact__card-item.tel{padding-left:17px;margin-bottom:10px}
.contact__card-item.tel:before{content:"\f098"}
.contact__card-item.insta{display:inline-block;padding-left:20px;
	font-size:14px;line-height:24px;color:#d25019}
.contact__card-item.insta span{font-size:21px;}
.contact__card-item.insta:before{content:"\f16d"}
.contact__card-item.formthank{display:inline-block;padding-left:20px;
	font-size:21px;line-height:24px;color:#d25019}
.contact__card-item.formthank:before{content:"\f14a"}
.contact__card-item.email{display:inline-block;padding-left:20px;
	font-size:14px;line-height:24px;color:#474747; margin-bottom:10px}
.contact__card-item.email:before{content:"\f003"}
.contact__card-item.email:hover{text-decoration:underline}

@media screen and (max-width:1000px)
{
	.portfolio__item{width:170px;height:170px;
		margin:0 1.5% 35px}
	.team__member{width:190px;margin:0 20px 30px}
}
@media screen and (max-width:800px)
{
	.contact__form{max-width:50%;margin:0 2% 0 8%}
	.contact__form-input{width:100%}
	.contact__form-tarea{width:100%}
	.contact__card{width:40%}
	.page-header__logo{margin:25px 0 0 10px}
	.page-header__nav{margin:30px 10px 0 0}
	.portfolio__item{width:190px;height:190px;margin:0 5% 35px}
	.team__member{width:180px;margin:0 10px 30px}
}
@media screen and (max-width:640px)
{
	.contact{padding:50px 10px}
	.contact__form{float:none;max-width:90%;margin:0 auto 50px}
	.contact__card{display:block;width:230px;margin:20px auto}
	.contact__card-title{text-align:center}
	.page-header__logo h1{display:none}
	.page-header__logo span{display:none}
	.page-header__nav li{margin-left:0}
	.portfolio{padding:50px 10px}
	.portfolio__filter li{margin:0 5px}
	.team{padding:55px 10px}
	.team__member{display:block;width:260px;margin:0 auto 30px}
	.team__member-info{height:auto}
	.team__member-descr{display:none}
	.team__member-soc{width:260px;top:220px;margin-left:-130px}
}
@media screen and (max-width:480px)
{
	.contact__form-submit{float:none;margin:0 auto}
	.page-header{min-height:50px}
	.page-header__inner{text-align:center}
	.page-header__logo{float:none;position:relative;display:inline-block;
		margin:20px auto 10px;text-align:left}
	.page-header__logo h1{display:block}
	.page-header__logo span{display:inline-block}
	.page-header__nav{float:none;margin:10px auto;padding-top:20px;
		text-align:center;border-top:1px solid #eee}
	.page-header__nav li{margin-left:0}
	.page-footer{padding:0 10px 30px;text-align:center}
	.page-footer__copyright{margin:35px auto 0}
	.page-footer__gotop{float:none;width:100%;margin:20px auto 0}
	.portfolio__filter li{display:block}

}
